*,
*::after,
**::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #607d8b;
}
.blur {
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  backdrop-filter: blur(5px);
}
.container {
  display: grid;
  grid-template-rows: 80px 1fr;
  row-gap: 10px;
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #263238;
}
.header h1,
.header button {
  margin: 30px;
}
.header h1 {
  color: cadetblue;
}
.header button {
  padding: 10px;
  background-color: #78909c;
  color: #333;
  border-radius: 6px;
}
form {
  display: none;
}
.form {
  display: block;
  position: relative;
  width: 500px;
  height: 300px;
  position: absolute;
  top: 100px;
  left: 500px;
  padding: 10px;
  background-color: #455a64;
  border-style: solid;
  border-width: 8px 0;
  border-radius: 5px;
  z-index: 2;
}
label,
input {
  display: block;
}
input {
  padding: 5px;
  background-color: white;
  border: 0px;
  border-radius: 4px;
}
.submit {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px;
}

.books {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 255px);
  justify-content: space-around;
  row-gap: 10px;
}
.book-card {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #405762;
  border-style: solid;
  border-width: 0 0 0 10px;
}
.book-card h3,
.book-card p {
  width: 100%;
  overflow-wrap: break-word;
  text-align: center;
}
.remove {
  align-self: flex-start;
  justify-self: flex-end;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  background-color: red;
}
.read-state {
  background-color: lightgreen;
  border-radius: 6px;
  margin: 10px;
}
.unread-state {
  background-color: red;
  border-radius: 6px;
  margin: 10px;
}
